:root {
  background-color: #00246b;
  font-family: 'Comic Sans MS';
  text-align: center;
}
h1 {
  color: #cadcfc;
  font-size: 56px;
}
h2 {
  font-size: 36px;
  margin: 0;
}
h3 {
  font-size: 32px;
  margin: 0;
  margin-bottom: 10px;
}
.TeamContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Card {
  margin: 10px;
  padding: 10px;
  height: 400px;
  width: 350px;
  background-color: #cadcfc;
  border-radius: 35px;
  color: #00246b;
}

.Card:hover {
  border: solid 5px white;
}

.CardContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  width: 350px;
}

.Card img {
  max-width: 330px;
  max-height: 250px;
  object-fit: contain;
}


.imageContainer {
  width: 330px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card a {
    color: inherit;
    text-decoration: none; 
    background: none;     
    padding: 0;           
    margin: 0;                 
    cursor: default;  
}